<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
      <input id="loginEmail" required name="email" type="email" ng-model="email" 
        class="form-control" autofocus/>
      <input id="loginConfirm" required name="pass" type="password" ng-model="pass"
          class="form-control" />
       <input id="loginConfirm" required name="confirm" type="password" ng-model="confirm" class="form-control" />
      <button class="btn btn-primary btn-block" type="submit">Sign in </button>
  </form>
</div>
<p ng-show="err" class="bg-danger">{{err}}</p>
